.draggable {
  height: 4rem;
  width: 6rem;
  border: gray 0.05rem solid;
  border-radius: 0.2rem;
  margin: 0.2rem;
  padding: 1.3rem;
  text-align: center;
}

.droppable {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border: 1px red solid;
}

.dragdrop-container {
  display: flex;
  flex-direction: row;
}

.dragging {
  background-color: yellow;
}
