header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 5rem;
  height: 5rem;
  padding: 1rem 1rem;
}

li {
  display: inline;
  padding: 0 4rem;
}

a {
  & {
    line-height: 5rem;
    color: #4a4c88;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.7;
  }

  &:hover {
    opacity: 1;
  }
}
