.draggable {
  &{
    background: white;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0.1rem 0 rgba(9,45,66,0.25);
    cursor: grab;
    font-size: 1rem;
    min-width: 9rem;
  }

  &:hover {
    background: #f5f6f7;
  }

  h3 {
    font-size : 0.9rem;
  }
}

.droppable {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;

  background: #dfe3e6;
  border-radius: 0.5rem;
}

.dragdrop-container {
  display: flex;
  flex-direction: row;
}

.dragging {
  background-color: yellow;
}
